// $('.pods-errors').html('');
// <%# if @pod.errors.present? %>
//   <%# @pod.errors.full_messages.each do |mesage| %>
//     $('.pods-errors').append('<p><%#= j message %></p>')
//   <%# end %>
// <%# else %>
//   $('.pod-id') .html('<%#= @pod.id %>')
// //  <%# $('.pods').append('<%#= j render @pod %>') %>
//   $('.pod-organization') .html('<%#= @pod.organization %>')
// <%# end %>
