// Table----------------------------------------
table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #999;
  // padding: 12px;
}

table p {
  margin: 0;
}

.cap-height p {
  max-height: 3em;
  overflow: hidden;
}

td, th {
    padding: 2px 2px !important;
    text-align: center !important;
}

tbody tr:nth-child(even) th {
  background-color: #e2e7ff;
}
